<div class="lession-container">
    <div class="container">
        <div class="section-selection">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <select class="form-select lession-select" aria-label="Default select example">
                        <option selected>Chọn khối</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <select class="form-select lession-select" aria-label="Default select example">
                        <option selected>Chọn môn học</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                    <select class="form-select lession-select" aria-label="Default select example">
                        <option selected>Chọn chương học</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="section-search">
            <div class="input-group">
                <input type="text" class="form-control section-select" placeholder="Nhập từ khoá muốn tìm kiếm"
                    aria-label="Nhập từ khoá muốn tìm kiếm" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary btn-section-search" type="button" id="button-addon2">Tìm
                    kiếm</button>
            </div>
        </div>
        <div class="lession-list">
            <div class="lession-list__header">
                <button class="btn btn btn-light mt-3 lession-list__btn-filter "><i class="bi bi-filter me-3"></i>Lọc
                </button>
            </div>
            <div class="lession-list__content">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="lession__item">

                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="lession__item">

                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="lession__item">

                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="lession__item">

                        </div>
                    </div>

                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="lession__item">

                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="lession__item">

                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="lession__item">

                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="lession__item">

                        </div>
                    </div>

                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="lession__item">

                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="lession__item">

                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="lession__item">

                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="lession__item">

                        </div>
                    </div>

                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="lession__item">

                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="lession__item">

                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="lession__item">

                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="lession__item">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        .
    </div>

</div>