<div class="news-container">
    <div class="container">
        <div class="row">
            <div class="news-primary col-xl-10">
                <h4 class="news-primary-heading"><i class="bi bi-info-circle me-3"></i>{{topNews[0].tieuDe}}</h4>
                <p class="news-primary__content">
                  <img src={{topNews[0].images[0].linkimage}} alt="Loading...">
                  
                  <br/>
                {{topNews[0].noiDung}}
              </p>
              <div class="news-primary__image" *ngFor="let img of listImgTopNews">
                <img src={{img.linkimage}} alt="Loading...">
              </div>
            </div>
            <div class="news-extra col-xl-2">
                <div class="row"> 
                    <div class="news-extra__content col-xl-12" id={{news.id}} *ngFor="let news of listNews" (click)="clickNewsExtra($event)">
                        <img id={{news.id}} src={{news.images[0].linkimage}} alt="Loading...">
                        <h4 id={{news.id}}>{{news.tieuDe}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>