<div class="question-container">
    <div class="container">
        <div class="question-wrapper">
            <div class="question-header">
                Hỏi đáp 
            </div>
            <div class="question-content">
                <div class="question-item">
                    <label for="question-theme">Chủ đề:</label>
                    <input id="question-theme" type="text">
                </div>
                <div class="question-item">
                    <label for="question-fullname">Họ và tên: </label>
                    <input id="question-fullname" type="text">
                </div>
                <div class="question-item">
                    <label for="question-gmail">Gmail:</label>
                    <input id="question-gmail" type="text">
                </div>
                <div class="question-item">
                    <label for="question-title">Tiêu đề:</label>
                    <input id="question-title" type="text">
                </div>
                <div class="question-item">
                    <label for="question-content">Nội dung câu hỏi:</label>
                    <textarea name="" id="question-content" cols="30" rows="4"></textarea>
                </div>
            </div>
            <div class="question-button">
                <button>
                    Gửi câu hỏi
                </button>
            </div>
        </div>
    </div>
</div>