<header class="navbar-light bg-light">
  <nav class="navbar navbar-expand-lg container ">
    <a class="navbar-brand" routerLink="home">
      <img src={{img}} style="width: 80px" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <ul class="nav nav-tabs flex-grow-1 justify-content-center mx-5">
        <li (click)='handlerClickNavbar($event)'  class="nav-item ">
          <a class="nav-link active" id="home"[ngClass]="{'active': active === 'home' || active === ''}"  routerLink="home">Trang chủ</a>
        </li>
        <li (click)='handlerClickNavbar($event)' class="nav-item">
          <a class="nav-link" id="lession"  [ngClass]="{'active': active === 'lession'}" routerLink="lession">Bài giảng</a>
        </li>
        <li  (click)='handlerClickNavbar($event)' class="nav-item">
          <a id="schedule" class="nav-link" [ngClass]="{'active': active === 'schedule'}" routerLink="schedule">Thời khóa biểu</a>
        </li>
        <li (click)='handlerClickNavbar($event)' class="nav-item">
          <a  id="news" class="nav-link" [ngClass]="{'active': active === 'news'}" routerLink="news">Tin tức</a>
        </li>
        <li (click)='handlerClickNavbar($event)' class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  href="#" id="dropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Xem thêm
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Về chúng tôi</a>
            <a class="dropdown-item" href="#">Tìm kiếm</a>
            <div class="dropdown-divider"></div>
            <a id="q&a" class="dropdown-item" routerLink="q&a">Hỏi đáp</a>
          </div>

        </li>
<!--        <li  class="nav-item dropdown" *ngIf="username!=''"><a class="nav-link dropdown-toggle">{{username}}</a></li>-->
        <li (click)='handlerClickNavbar($event)' class="nav-item">
          <a  id="username" class="nav-link"  >{{username}}</a>
        </li>
        <li (click)='handlerClickNavbar($event)' class="nav-item">
          <a (click)="logout()" id="logout" class="nav-link" *ngIf="username!=''"  >Đăng xuất</a>
        </li>
      </ul>
      <app-favorite-button [favorite]="favourite"> Đăng nhập</app-favorite-button>  
    </div>
  </nav>
</header>
