<header class="navbar-light bg-light">
  <nav class="navbar navbar-expand-lg container ">
    <a class="navbar-brand" routerLink="home">
      <img src={{img}} style="width: 80px" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <ul class="nav nav-tabs flex-grow-1 justify-content-center mx-5">
        <li (click)='handlerClickNavbar($event)'  class="nav-item ">
          <a class="nav-link active" id="home"[ngClass]="{'active': active === 'home' || active === ''}"  routerLink="home">Trang chủ</a>
        </li>
        <li (click)='handlerClickNavbar($event)' class="nav-item">
          <a class="nav-link" id="lession"  [ngClass]="{'active': active === 'lession'}" routerLink="lession">Bài giảng</a>
        </li>
        <li  (click)='handlerClickNavbar($event)' class="nav-item" *ngIf="!isAdmin && !isTeacher">
          <a id="schedule" class="nav-link" [ngClass]="{'active': active === 'schedule'}" routerLink="schedule">Thời khóa biểu</a>
        </li>
        <li (click)='handlerClickNavbar($event)' class="nav-item" *ngIf="!isAdmin && !isTeacher">
          <a  id="news" class="nav-link" [ngClass]="{'active': active === 'news'}" routerLink="news">Tin tức</a>
        </li>
        <li (click)='handlerClickNavbar($event)' class="nav-item" *ngIf="isTeacher">
          <a   class="nav-link"  routerLink="seenmark">Đăng bài giảng</a>
        </li>
        <li (click)='handlerClickNavbar($event)' class="nav-item" *ngIf="isTeacher">
          <a   class="nav-link"  routerLink="seenmark">Xem thời khoá biểu lớp đang dạy</a>
        </li>
        <li (click)='handlerClickNavbar($event)' class="nav-item" *ngIf="isTeacher">
          <a   class="nav-link"  routerLink="seenmark">Cập nhật điểm cho học sinh</a>
        </li>  
        <li (click)='handlerClickNavbar($event)' class="nav-item" *ngIf="!isAdmin && !isTeacher">
          <a  id="q&a" class="nav-link" [ngClass]="{'active': active === 'q&a'}" routerLink="q&a">Hỏi đáp</a>
        </li>
<!--        <li  class="nav-item dropdown" *ngIf="username!=''"><a class="nav-link dropdown-toggle">{{username}}</a></li>-->
<!--        <li (click)='handlerClickNavbar($event)' class="nav-item">-->
<!--          <a  id="username" class="nav-link" *ngIf="username!='a'" ></a>-->
<!--        </li>-->
<!--        <li (click)='handlerClickNavbar($event)' class="nav-item">-->
<!--          <a (click)="logout()" id="logout" class="nav-link"   >Đăng xuất</a>-->
<!--        </li>-->
        <div class="header-dr-search dropdown mr-2" *ngIf="!isAuth" >
          <button class=" mt-2 dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Tìm kiếm
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
            <button class="dropdown-item" type="button"  routerLink="search/student">Học sinh</button>
            <button class="dropdown-item" type="button"routerLink="search/teacher">Giáo viên</button>
<!--            <button class="dropdown-item" (click)="logout()" type="button">Đăng xuất</button>-->
          </div>
        </div>
        <div class="dropdown mr-3 ml-3" *ngIf="isAdmin">
          <button class=" mt-2 dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Quản lí
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu4">
            <button class="dropdown-item" type="button">Quản lí học sinh</button>
            <button class="dropdown-item" type="button">Quản lí giáo viên</button>
            <button class="dropdown-item" type="button">Quản lí lớp</button>
            <button class="dropdown-item" type="button">Quản lí tin tức</button>
            <button class="dropdown-item" type="button">Quản lí bài giảng</button>
            <button class="dropdown-item" type="button">Quản lí điểm</button>
            <!--            <button class="dropdown-item" (click)="logout()" type="button">Đăng xuất</button>-->
          </div>
        </div>
          <div class="dropdown" *ngIf="isAdmin || isTeacher || isUser" >
            <button class=" mt-2 dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Xin chào: {{username}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <a class="dropdown-item" routerLink="/detailmark"  *ngIf="isUser">Xem điểm</a>
              <button class="dropdown-item" type="button">Thông tin cá nhân</button>
              <button class="dropdown-item" (click)="logout()" type="button">Đăng xuất</button>
            </div>
          </div> 

      </ul>

        <app-favorite-button [favorite]="favourite" routerLink="login" *ngIf="username==null">{{username || "Đăng nhập"}}</app-favorite-button>
<!--        <app-favorite-button [favorite]="favourite" *ngIf="username!='a'" >Đăng xuất</app-favorite-button>-->

    </div>
  </nav>
</header>
