<div class="schedule-container">
    <div class="container">
        <div class="schedule-selection">
            <div class="schedule-block">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
            <div class="schedule-class">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
            <div class="schedule-search">
                <button><i class="bi bi-search"></i> Tìm </button>
            </div>
        </div>
        <div class="schedule-content">
            <table class="schedule-table table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    <th scope="col">Handle</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Tiết 1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>Jacob</td>
                  </tr>
                  <tr>
                    <th scope="row">Tiết 2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">Tiết 3</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">Tiết 4</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">Tiết 5</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@fat</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>